.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 필요에 따라 높이를 지정해줍니다 */
    height: 80px; /* 예시로 높이를 설정해두었습니다 */
}
 
@font-face {
    font-family: 'BASTARD';
    src: url('fonts/BASTARD.woff2') format('woff2'),
         url('fonts/BASTARD.woff') format('woff'),
         url('fonts/BASTARD.TTF') format('truetype');

    font-family: 'SuisseIntl';
    src: url('fonts/SuisseIntl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.small-text {
    font-family: 'SuisseIntl', sans-serif;
    font-size: 0.7em !important;
    color: black; /* Added missing semicolon */
    margin-bottom: -3px;
    font-weight: lighter;
    letter-spacing: 0.2em; /* Adjust spacing as needed */
}

.BASTARD-font {
    font-family: 'BASTARD', sans-serif !important;
    font-size: 1.4em;
    font-weight: bolder;
    padding-bottom: 6px;
    letter-spacing: 0.04em;
}


.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
}


.text-content {
    line-height: 1.4;
    padding-top: 5%;
}

.text-content .title-font {
    font-size: inherit;
    font-weight: normal;
}

.timeline {
    border: 1.3px dotted rgb(178, 178, 178); /* Adjust color and thickness as needed */
    padding: 2px; /* Optional: Add padding for spacing within the border */
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block; /* Keeps the border tight around the text */
    /* font-family: 'SuisseIntl', sans-serif; */
    font-size: 0.9em;
    color: black; /* Added missing semicolon */
    margin-bottom: 1px;
    letter-spacing: 0.09em;
    line-height: 1.9; /* Adjust for vertical spacing between lines */
    /* transform: scaleY(0.92);  */
}


.small-icon {
    width: 15px; 
    vertical-align: middle; 
    margin: 1px 0px 0px 0px;
}

.small-arrow {
    width: 15px; /* Adjust width as needed */
    vertical-align: middle; /* Aligns with text */
    margin-right: 5px; /* Adds space between arrow and text */
}

.small-icon + .small-icon {
    margin-left: -0.4px; /* 첫 번째 이미지와 두 번째 이미지 사이 간격 */
}

a {
    text-decoration: none; /* Removes the underline */
    color: black;
    font-style: italic;
}

.image-section img {
    width: 500px; /* Set the desired width */
    height: auto; /* Maintains the aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image */
}
.Artist {
    color: rgb(55, 55, 55);
    font-style: italic;
    border: 1.3px dotted rgb(178, 178, 178); /* Adjust color and thickness as needed */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.artist-list {
    line-height: 35px;
}


@media (max-width: 1170px) {
    .text-content {
        font-size: 0.95em;
        
    }
    .BASTARD-font {
        font-family: 'BASTARD', sans-serif !important;
    }

   
}

@media (max-width: 1024px) {
    .text-content {
        font-size: 0.9em;
    }
    .BASTARD-font {
        font-family: 'BASTARD', sans-serif !important;
    }
    

    
}

/* Adjustments specifically for iPhone 14 Pro and similar sizes (up to 430px wide) */
@media (max-width: 430px) {
    .header h1 {
        font-size: 1.5em;
    }
    .BASTARD-font {
        font-family: 'BASTARD', sans-serif !important;
    }
    

    .text-content {
        font-size: 0.85em;
        line-height: 1.5;
    }

    .artist-image,
    .image-section img {
        max-width: 100%;
    }
}