/* Center alignment for header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

/* Wrapper to keep content aligned and centered */
.image-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

/* Image styling - responsive */
.artist-image {
    width: 100%;
    max-width: 800px; /* Sets the maximum width for larger screens */
    height: auto; /* Maintains the aspect ratio */
}

/* Text content styling - responsive */
.text-content {
    width: 100%;
    max-width: 800px; /* Matches the image's max width */
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 10px;
}

.name {
    font-weight: bold;
    font-style: italic;
    margin-bottom: -5px;
}

/* Link styling - responsive */
.link {
    font-family: 'SuisseIntl', sans-serif;
    font-size: 0.7em;
    color: rgb(102, 102, 102);
    display: inline;
    letter-spacing: 0.1em;
    font-weight: lighter;
    margin-top: -5px;
}

/* Responsive underline for link text */
.link-text {
    color: rgb(102, 102, 102);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 0.4px;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    font-size: 0.9em;
}

.text-content .title-font {
    font-size: inherit;
    font-weight: normal;
}